.container{
  text-align: center;
  margin: 50px;
}

.whole-drum{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 50px auto;
  width: min-content;
}

.drum-pad{
  width: 100px;
  height: 100px;
  background-color: #333;
  border: 2px solid #555;
  border-radius: 10px;
  color: wheat;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}

.drum-pad:active{
  transform: scale(0.95);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}